<section class="dgm-hud dgm-hud--layout" data-open="">
  
  {{!-- =============== CORE (center area) =============== --}}
  <div class="dgm-core">
    
    {{!-- HP Counter (top-left) --}}
    <div class="dgm-count dgm-count--hp" title="Hit Points">
      <div class="label"><i class="fa-solid fa-heart"></i></div>
      <div class="value" data-bind="hp">{{hp.value}}/{{hp.max}}</div>
    </div>

    {{!-- Reaction Roll Button (floating below HP) --}}
    <div class="dgm-reaction-roll dgm-roll"
         role="button"
         tabindex="0"
         data-action="roll-reaction"
         title="Reaction Roll">
      <i class="fa-solid fa-reply"></i>
    </div>

    {{!-- Difficulty Badge (bottom-left) --}}
    <div class="dgm-difficulty" title="Difficulty">{{difficulty}}</div>

    {{!-- Stress Counter (below attack ring) --}}
    <div class="dgm-count dgm-count--stress" title="Stress">
      <div class="label"><i class="fa-solid fa-bolt"></i></div>
      <div class="value" data-bind="stress">{{stress.value}}/{{stress.max}}</div>
    </div>

    {{!-- Portrait with hover info --}}
    <div class="dgm-portrait" 
         title="{{adversaryName}} - Tier {{tier}}">
      <img class="dgm-portrait-img" src="{{portrait}}" alt="{{adversaryName}}">
    </div>

    {{!-- Attack area (top-right) --}}
    {{#if primaryAttack}}
    <div class="dgm-attack dgm-roll"
        role="button"
        tabindex="0"
        data-action="roll-attack"
        data-attack-id="{{primaryAttack.id}}"
        title="{{primaryAttack.name}} ({{signed primaryAttack.bonus}}, {{primaryAttack.range}}, {{formatDamage primaryAttack.damage}}, {{extractDamageTypes primaryAttack.damage}})">
      <img class="dgm-attack-icon" src="{{primaryAttack.img}}" alt="{{primaryAttack.name}}">
      <div class="dgm-attack-bonus">{{signed primaryAttack.bonus}}</div>
    </div>
    {{else}}
    <div class="dgm-attack" title="No attack available">
      <img class="dgm-attack-icon" src="icons/svg/sword.svg" alt="No attack">
    </div>
    {{/if}}

    {{!-- Features Toggle (bottom-right) --}}
    <div class="dgm-features-toggle dgm-tab"
         role="button"
         tabindex="0"
         data-tab="features"
         data-action="toggle-features"
         aria-controls="dgm-features-panel"
         aria-expanded="false"
         title="Toggle Features">
      <span class="dgm-features-icon">F</span>
    </div>

  </div>

  {{!-- Damage Thresholds (below core) --}}
  <div class="dgm-thresholds" aria-label="Damage thresholds">
    <span class="dgm-threshold-chip">{{l 'DAGGERHEART.GENERAL.Damage.minor'}}</span>
    <span class="dgm-threshold-val">{{thresholds.major}}</span>
    <span class="dgm-threshold-chip">{{l 'DAGGERHEART.GENERAL.Damage.major'}}</span>
    <span class="dgm-threshold-val">{{thresholds.severe}}</span>
    <span class="dgm-threshold-chip">{{l 'DAGGERHEART.GENERAL.Damage.severe'}}</span>
  </div>

{{!-- =============== FEATURES PANEL (expandable) =============== --}}
  <div class="dgm-tabwrap">
    <div id="dgm-features-panel" 
         class="dgm-panel dgm-panel--features" 
         data-panel="features" 
         role="dialog" 
         aria-label="Adversary Features">
      
      {{!-- Panel Header --}}
      <div class="dgm-header">
        <details>
          <summary>
            <header class="dgm-panel-header">
              <div class="dgm-adversary-name">{{adversaryName}}</div>
              <div class="dgm-pills-container">
              {{#if tier}}<span class="dgm-adversary-pills">Tier {{tier}}</span>{{/if}}
              {{#if systemType}}<span class="dgm-adversary-pills">{{systemType}}</span>{{/if}}
              </div>
            </header>
          </summary>
          {{#if description}}
          <div class="dgm-section-description">
            {{{description}}}
          </div>
          {{/if}}
          {{#if motivesAndTactics}}
          <div class="dgm-section-content">
            {{{motivesAndTactics}}}
          </div>
          {{/if}}
          {{#if experiences}}
          <div class="dgm-section-content">
            <span class="dgm-section-title">Experiences</span>
            {{#each experiences}}
              <div class="dgm-experience">
                <strong>{{name}}</strong>: +{{value}} {{description}} {{#if bonus}}({{signed bonus}}){{/if}}
              </div>
            {{/each}}
          </div>
          {{/if}}
        </details>
      </div>

      {{!-- Features List (accordion style) --}}
      <div class="dgm-features-list">
        <ul class="dgm-acc">
          {{#each features}}
          <li class="dgm-acc-item">
            <details>
              <summary>
                {{!-- Feature Icon (clickable if has actions) --}}
                <img class="dgm-feature-icon{{#if (hasActions this)}} clickable{{/if}}"
                     src="{{img}}"
                     alt="{{name}}"
                     role="button"
                     tabindex="0"
                     data-action="{{#if (hasActions this)}}feature-exec{{else}}feature-info{{/if}}"
                     data-feature-id="{{id}}"
                     title="{{name}}">

                {{!-- Feature Name --}}
                <span class="dgm-feature-name">{{truncate name 25}}</span>

                {{!-- Resource Info (uses, etc.) --}}
                {{#with (getResourceInfo this)}}
                {{#if this}}
                <span class="dgm-feature-resource">
                  {{#if max}}{{value}}/{{max}}{{else}}{{value}}{{/if}}
                </span>
                {{/if}}
                {{/with}}

                {{!-- Send to Chat Button --}}
                <i class="far fa-comment dgm-feature-chat"
                   role="button"
                   tabindex="0"
                   data-action="feature-to-chat"
                   data-feature-id="{{id}}"
                   title="Send to Chat"></i>
              </summary>

              {{!-- Feature Description (expanded content) --}}
              <div class="dgm-feature-content">
                {{{system.description}}}
              </div>
            </details>
          </li>
          {{else}}
          <li class="dgm-acc-item dgm-empty">{{l "DAGGERHEART.GENERAL.NoFeatures" "No features available"}}</li>
          {{/each}}
        </ul>
      </div>

    </div>
  </div>


</section>